.idea
.DS_Store
dist
node_modules
footer.css
footer.css.map
gallery.css
gallery.css.map
header.css
header.css.map
maps.css
maps.css.map
pricelist.css
pricelist.css.map
services.css
services.css.map
socials.css
socials.css.map
hero.css
hero.css.map
modal.css
modal.css.map
