.footer {
  padding: var(--space-8);
  @include background-glass;
}

.footer-container {
  @include flex-between-center-column;
  padding:0 var(--space-8);
  gap: var(--space-8);

  &__header {
    @include flex-between-center-row;
    width: 100%;

    &-logo {
      font-size: var(--font-size-2xl);
    }

    &__menu-list {
      @include flex-between-center-row;
      gap: var(--space-5);
    }


  }

  &__body {
    width: 100%;

    hr {
      border: none;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
  }

  &__contacts {
    @include flex-between-center-row;
    width: 100%;

    &-logo {
      font-weight: var(--font-weight-regular);
    }

    &-information {
      color: var(--color-text-secondary);
    }
  }
}

@media only screen and (max-width: $tablet-sm) {
  .footer-container {
    @include flex-between-center-column;
    padding:0 var(--space-8);
    gap: var(--space-8);

    &__header {
      @include flex-between-center-column;
      gap: var(--space-5);

      &-logo {
        font-size: var(--font-size-2xl);
      }

      &__menu-list {
        @include flex-between-center-column;
        gap: var(--space-5);
      }
    }

    &__contacts {
      @include flex-center-center-column;
      width: 100%;

      &-information {
        color: var(--color-text-secondary);
        width: 100%;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: $mobile-xs) {

  .footer {
    padding: var(--space-8) var(--space-1);
  }

  .footer-container {
    @include flex-between-center-column;
    padding:0 var(--space-8);
    gap: var(--space-8);
    width: 100%;

    &__header {
      @include flex-between-center-column;
      gap: var(--space-5);

      &-logo {
        font-size: var(--font-size-2xl);
      }

      &__menu-list {
        @include flex-between-center-column;
        gap: var(--space-5);
      }
    }

    &__contacts {
      @include flex-center-center-column;
      width: 100%;

      &-information {
        color: var(--color-text-secondary);
        width: 100%;
        text-align: center;
        line-height: var(--line-height-relaxed);
      }
    }
  }
}