.header {
  padding: var(--space-4) var(--space-8);
  @include flex-between-center-row;
  @include background-glass;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--z-index-header);

  &__menu-list {
    @include flex-center-center-row;
    gap: var(--space-6);
  }
}