.maps-container {
  padding: var(--space-8);
  @include flex-center-center-column;
  width: 100%;
  gap: var(--space-8);
}

.yandex-wrapper {
  @include flex-center-center-row;
  width: 100%;
  gap: var(--space-8);

  &__maps,
  &__ratings {
    width: 100%;
    max-width: 560px;
    max-height: 560px;
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-lg);

    iframe,div {
      border-radius: var(--radius-lg);
      height: 560px;
    }
  }
}

@media only screen and (max-width: $tablet-sm) {
  .yandex-wrapper {
    @include flex-center-center-column;

    &__maps,
    &__ratings {
      max-width: 560px;
      max-height: 360px;

      div, iframe {
        height: 360px;
      }
    }
  }
}

@media only screen and (max-width: $mobile-xs) {
  .maps-container {
    padding: var(--space-1);
  }
  .yandex-wrapper {
    @include flex-center-center-column;
    padding: var(--space-1);

    &__maps,
    &__ratings {
      max-width: 560px;
      max-height: 360px;

      div, iframe {
        height: 360px;
      }
    }
  }
}