* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

body {
  height: 100%;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  gap: 100px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;

  text-rendering: optimizeLegibility;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

body, html {
  scrollbar-width: none;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
}


main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.logo {
  color: var(--color-text);
  font-size: var(--font-size-md);
}

.link {
  text-decoration: none;
  color: var(--color-text);
  transition: var(--transition-normal);
  font-size: var(--font-size-md);

  &:hover {
    color: var(--color-text-secondary);
  }
}

.button, .button--transparent {
  width: 100%;
  max-width: 200px;
  padding: var(--space-3);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  border-radius: var(--radius-lg);
  background-color: var(--color-bg-secondary);
  color: var(--color-text);
  border: none;
  box-shadow: var(--shadow-sm);
  transition: var(--transition-fast);
  border: 1px solid var(--color-border);

  &:hover {
    box-shadow: var(--shadow-lg);
    background-color: var(--color-bg);
    cursor: pointer;
  }
}

.button--transparent {
  background-color: transparent;
}

.text-wrapper {
  text-align: center;
  color: var(--color-text);

  &__title {
    font-size: var(--font-size-3xl);
    font-weight: var(--font-weight-medium);
  }

  &__description {
    color: var(--color-text-secondary);
  }
}

img {
  -webkit-user-drag: none;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  object-position: center;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(10px);
    transform: scale(1.1);
  }

  &::after {
      content:"";
      position:absolute;
      inset:0;
      background:linear-gradient(
                      90deg,
                      rgba(10,12,16,0.9) 0%,
                      rgba(10,12,16,0.65) 40%,
                      rgba(10,12,16,0.2) 70%,
                      rgba(10,12,16,0.5) 100%
      );
  }
}

@media only screen and (max-width: $mobile-xs) {
  .text-wrapper {
    &__title {
      font-size: var(--font-size-2xl);
    }

    &__description {
      font-size: var(--font-size-xs);
    }
  }
}